<div id="cookie-popup" class="cookie-popup">
    <div class="popup-wrapper">
        <p class="cookie-class">By clicking "Accept Cookies", you agree to the storing of cookies on your device to
            echance site navigation, analyze
            site usage,<br class="desk" /> and assist in our marketing efforts.</p>
        <div class="cookie-buttons">
            <button id="decline-cookies" class="btn-decline">Cookies Settting</button>
            <button id="accept-cookies" class="btn-accept">Accept All Cookies</button>
        </div>
    </div>
</div>