<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Valley of Dreams</h1>
        <div class="home-wrapper">
        <img class="home-logo" src="/img/hero/logo.png" alt="Valley of Dreams" loading="lazy">
    <h2 class="home-subtitle">Luck here? <br/>
    It's got its own schedule.</h2>
    <p class="home-big-text">Welcome to Valley of Dreams. Things unfold at their own pace here - it's all about finding your flow and staying
    centered.</p>
    <p class="home-text">At the height of sakura bloom, a hidden valley reveals itself.<br/>Seven spirits hang out here - they're more like gentle
    guides than bossy overseers.</p>
    <a class="hero-button" href="#demo">
        <img class="hero-btn pulse" src="/img/hero/btn.png" alt="Enter the Valley" loading="lazy" />
    </a>
</div>
    <picture>
        <source srcset="
        /img/hero/fish-desk.png 1x,
        /img/hero/fish-desk@2x.png 2x
         " media="(min-width: 1439px)" />
        <source srcset="
        /img/hero/fish-mob.png 1x,
        /img/hero/fish-mob@2x.png 2x
        " media="(max-width: 1438px)" />
        <img class="hero-fish" src="/img/hero/fish-mob.png" alt="Valley of Dreams" loading="lazy" />
    </picture>
    
</div>
</section>