body{
  background: #480088;
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.44444;
    color: #fff;
  
}
h2{
  font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
}
@media only screen and (min-width: 1440px) {
  h2{
    font-size: 42px;
  }

}