.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 48%;
    transform: translateX(-48%);
    padding: 20px;
box-shadow: 2px 2px 10px 0 rgba(72, 0, 136, 0.2);
    background: #fff;
    border-radius: 22px;
    z-index: 1000;
    width: 100%;
    height: auto;
    display: none;
}

.cookie-class {
font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
    color: #480088;
    text-align: left;
}

.cookie-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    width: 281px;
    height: 34px;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
}

.btn-accept {
    border-radius: 8px;
    padding: 7px 7px;
    width: 164px;
    height: 34px;
background: #480088;
    box-sizing: border-box;
    border: none;
font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42857;
    color: #fff;

}

.btn-decline {
    border: none;
    padding: 7px 12px 7px 0;
    width: 138px;
    height: 34px;
font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #480088;
    box-sizing: border-box;
    background-color: inherit;
}

.desk {
    display: none;
}

@media screen and (min-width: 1439px) {
    .cookie-popup {
        padding: 20px 40px;
        width: 1439px;
        height: auto;
    }

    .popup-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .cookie-class {
        width: 1024px;
        text-align: left;
        font-size: 14px;
        margin-top: 0;
    }

    .cookie-buttons {
        margin-top: 0;
    }

    .desk {
        display: block;
    }
}