.footer{
  background-image: url("/img/footer/mob.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.footer-container{
  padding: 12px 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.footer-wrapper{
    display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
}
.footer-navigation{
      display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        font-family: "Poppins", sans-serif;
          font-weight: 700;
          font-size: 16px;
          line-height: 1.5;
          color: #fff;
}
.footer-text{
  font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.33333;
    text-align: center;
    color: #fff;
}

@media only screen and (min-width: 1440px) {
  .footer{
    background-image: url("/img/footer/desk.png");
  }
  .footer-container{
    padding: 30px 100px;
    flex-direction: row;
     align-items: center;
    gap: 196px;
  }
  .footer-wrapper{
         align-items: center;
      gap: 40px;
  }
  .footer-navigation{
        flex-direction: row;
        align-items: center;
        gap: 76px;
  }
  .footer-text{
font-size: 16px;
  }
}