.home-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
width: 238px;
    height: 79px;
    margin-left: auto;
    margin-right: auto;

}
.home-wrapper{
margin-top: 40px;
    backdrop-filter: blur(28px);
        background: rgba(125, 97, 245, 0.8);
        border-radius: 22px;
            padding: 22px 12px;
            width: 335px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

}
.home-subtitle{
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
}
.home-big-text{
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 18px;
        text-align: center;
        color: #fff;
}
.home-text{
font-size: 16px;
    text-align: center;
}
.hero-fish{
    position: absolute;
    right: 16%;
    bottom: 0;
    z-index: 1;
}
.home-container{
    padding-bottom: 177px;
    position: relative;
}
.home-logo{
    width: 273px;
        height: 220px;
        margin-left: auto;
        margin-right: auto;
}
@media only screen and (min-width: 1440px) {
   .home-section{
    background-image: url("/img/hero/desk.png");
   }
   .home-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 905px;
        height: 603px;
        padding: 22px;
        margin-top: 0;
}
.home-subtitle{
    font-size: 32px;
}
.home-big-text{
    font-size: 22px;
}
.home-text{
    font-size: 20px;
}
.hero-fish{
    right: 0;
}
}
/* Disclaimer */
.disclaimer-section{
    background: linear-gradient(0deg, #480088 0%, #8600ff 100%);
}
.disclaimer-title{
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 28px;
        text-transform: uppercase;
        color: #fff;
}
.disclaimer-text{
    margin-top: 22px;
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 20px;
        line-height: 1.4;
        text-transform: uppercase;
        color: #fff;
}
@media only screen and (min-width: 1440px) {
  .disclaimer-title{
    font-size: 42px;
  }
  .disclaimer-text{
    font-size: 24px;
        line-height: 1.66667;
  }
}
/* A landscape of Still Motion */
.landscape-section{
    background-image: url("/img/landscape/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}
.landscape-wrapper{
    backdrop-filter: blur(22px);
        background: rgba(125, 97, 245, 0.8);
        border-radius: 22px;
            padding: 22px;
            width: 335px;
            height: 456px;
}
.landscape-text-wrapper{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.landscape-container{
    position: relative;
    padding-bottom: 280px;
}
.snake{
    position: absolute;
    bottom: -10px;
}
@media only screen and (min-width: 1440px) {
    .landscape-section{
    background-image: url("/img/landscape/desk.png");

}
.landscape-container{
    padding-top: 258px;
    padding-bottom: 260px;
}
.landscape-wrapper{
    padding: 22px;
        width: 990px;
        height: 285px;
}
.snake{
    right: -4%;
    bottom: -6%;
}
.landscape-text-wrapper{
    margin-top: 60px;
}
}
