.home-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
width: 238px;
    height: 79px;
    margin-left: auto;
    margin-right: auto;

}
.home-wrapper{
margin-top: 40px;
    backdrop-filter: blur(28px);
        background: rgba(125, 97, 245, 0.8);
        border-radius: 22px;
            padding: 22px 12px;
            width: 335px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

}
.home-subtitle{
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
}
.home-big-text{
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 18px;
        text-align: center;
        color: #fff;
}
.home-text{
font-size: 16px;
    text-align: center;
}
.hero-fish{
    position: absolute;
    right: 16%;
    bottom: 0;
    z-index: 1;
}
.home-container{
    padding-bottom: 177px;
    position: relative;
}
.home-logo{
    width: 273px;
        height: 220px;
        margin-left: auto;
        margin-right: auto;
}
@media only screen and (min-width: 1440px) {
   .home-section{
    background-image: url("/img/hero/desk.png");
   }
   .home-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 905px;
        height: 603px;
        padding: 22px;
        margin-top: 0;
}
.home-subtitle{
    font-size: 32px;
}
.home-big-text{
    font-size: 22px;
}
.home-text{
    font-size: 20px;
}
.hero-fish{
    right: 0;
}
}
/* Disclaimer */
.disclaimer-section{
    background: linear-gradient(0deg, #480088 0%, #8600ff 100%);
}
.disclaimer-title{
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 28px;
        text-transform: uppercase;
        color: #fff;
}
.disclaimer-text{
    margin-top: 22px;
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 20px;
        line-height: 1.4;
        text-transform: uppercase;
        color: #fff;
}
@media only screen and (min-width: 1440px) {
  .disclaimer-title{
    font-size: 42px;
  }
  .disclaimer-text{
    font-size: 24px;
        line-height: 1.66667;
  }
}
/* A landscape of Still Motion */
.landscape-section{
    background-image: url("/img/landscape/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}
.landscape-wrapper{
    backdrop-filter: blur(22px);
        background: rgba(125, 97, 245, 0.8);
        border-radius: 22px;
            padding: 22px;
            width: 335px;
            height: 456px;
}
.landscape-text-wrapper{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.landscape-container{
    position: relative;
    padding-bottom: 290px;
}
.snake{
    position: absolute;
    bottom: -4px;
}
@media only screen and (min-width: 1440px) {
    .landscape-section{
    background-image: url("/img/landscape/desk.png");

}
.landscape-container{
    padding-top: 258px;
    padding-bottom: 260px;
}
.landscape-wrapper{
    padding: 22px;
        width: 990px;
        height: 285px;
}
.snake{
    right: -4%;
    bottom: -6%;
}
.landscape-text-wrapper{
    margin-top: 60px;
}
}
/* Guardians of Balance */
.balance-section{
    background-image: url("/img/balance/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.balance-wrapper{
    backdrop-filter: blur(22px);
        background: rgba(125, 97, 245, 0.8);
        border-radius: 22px;
            padding: 22px;
            width: 335px;
            height: 482px;
}
.balance-text-wrapper{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.balance-container{
    position: relative;
    padding-bottom: 320px;
}
.cat{
    position: absolute;
    bottom: -4%;
}
@media only screen and (min-width: 1440px) {
    .balance-section{
    background-image: url("/img/balance/desk.png");

}
.balance-container{
    padding-top: 237px;
    padding-bottom: 237px;
}
.balance-wrapper{
    margin-right: 0;
    margin-left: auto;
    width: 701px;
        height: 337px;
}
.cat{
    left: 2%;
    bottom: 0;
}
.balance-text-wrapper{
    margin-top: 60px;
}
}
/* How the Experience Unfolds */
.how-wrapper{
    backdrop-filter: blur(22px);
        background: rgba(125, 97, 245, 0.8);
        border-radius: 22px;
            padding: 22px;
            width: 335px;
            
}
.how-title{
    text-align: center;
}
.how-list{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.how-item{
    display: flex;
        flex-direction: column;
        gap: 2px;
        align-items: center;
}
.number{
    width: 96px;
        height: 100px;
}
@media only screen and (min-width: 1440px) {
 .how-container{
    padding-top: 140px;
    padding-bottom: 140px;
 }
 .how-wrapper{
    width: 1240px;
 }
 .how-list{
    margin-top: 60px;
    flex-direction: row;
 }
 .how-item{
    flex-direction: row;
    width: 390px;
 }
 .number{
    width: 115px;
        height: 120px;
       
 }
}
/* Symbol Dissolution */
.symbol-section{
    background-image: url("/img/symbol/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.symbol-wrapper{
    backdrop-filter: blur(22px);
        background: rgba(125, 97, 245, 0.8);
        border-radius: 22px;
            padding: 22px;
            width: 335px;

}
.symbol-title{
    text-align: center;
}
.symbol-text{
    text-align: center;
    margin-top: 40px;
}
.symbol-list{
    margin-top: 22px;
    display: flex;
    gap: 22px;
    flex-direction: column;
}
.symbol-item{
    backdrop-filter: blur(22px);
        background: rgba(125, 97, 245, 0.8);
        border-radius: 22px;
            padding: 22px;
            width: 335px;
}
.symbol-list-wrapper{
    display: flex;
    align-items: center;
}
.symbol-subtitle{
    text-align: center;
}
@media only screen and (min-width: 1440px) {
  .symbol-section{
    background-image: url("/img/symbol/desk.png");
  }
  .symbol-wrapper{
    width: 1240px;
  }
  .symbol-list{
    flex-direction: row;
  }
  .symbol-item{
    width: 609px;
        height: 340px;

  }
  .symbol-list-wrapper{
    gap: 10px;
  }
  .symbol-subtitle{
    font-size: 32px;
  }
  .symbol-text-item{
    margin-top: 22px;
  }
}
/* Luck as a Living System */
.luck-section{
    background-image: url("/img/luck/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.luck-wrapper{
    backdrop-filter: blur(22px);
    border-radius: 22px;
        padding: 22px;
        width: 335px;
        background: rgba(125, 97, 245, 0.8);
}
.luck-title{
    margin-bottom: 32px;
}
.luck-container{
    padding-bottom: 322px;
    position: relative;
}
.turtle{
    position: absolute;
    bottom: 0;
}
@media only screen and (min-width: 1440px) {
    .luck-section{
    background-image: url("/img/luck/desk.png");
    }
    .luck-container{
        padding-top: 271px;
        padding-bottom: 282px;
    }
    .luck-wrapper{
        width: 962px;
    }
    .turtle{
        right: 0;
    }
    .luck-title{
        margin-bottom: 60px;
    }
}